.center {
    display: block;
    margin: 0 auto;
}
.border {
    border: 2px solid black;
}

.progress-label {
position: absolute;
text-align: center;
font-weight: 700;
width: 100%;
margin: 0;
line-height: 1.2rem;
white-space: nowrap;
overflow: hidden;
}

.progress-bar {
height: 1.2rem;
float: left;
background-color: #2979ff;
}

.progress {
display: block;
width: 100%;
margin: 0.5rem 0;
height: 1.2rem;
background-color: #eeeeee;
position: relative;
}

.progress.thin {
margin-top: 0.9rem;
height: 0.4rem;
}

.progress.thin .progress-label {
margin-top: -0.4rem;
}

.progress.thin .progress-bar {
height: 0.4rem;
}

.progress-100plus .progress-bar {
background-color: #00e676;
}

.progress-80plus .progress-bar {
background-color: #fbc02d;
}

.progress-60plus .progress-bar {
background-color: #ff9100;
}

.progress-40plus .progress-bar {
background-color: #ff5252;
}

.progress-20plus .progress-bar {
background-color: #ff1744;
}

.progress-0plus .progress-bar {
background-color: #f50057;
}

.candystripe .progress-bar {
    background-image: linear-gradient(135deg, rgba(50, 52, 67, 0.12) 27%, transparent 27%, transparent 52%, rgba(50, 52, 67, 0.12) 52%, rgba(50, 52, 67, 0.12) 77%, transparent 77%, transparent);
    background-size: 2rem 2rem
}
